@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
	--purple1: #aa5ee8;
	--purple1-2: #ab5ee8;
	--purple2: #7a3da9;
	--grey: #666;
	--blackish: #1e1e1f;
	--smoky-grey: #383838;
	--dark-grey: #2b2b2c;
	--bone-white: #d6d6d6;
	--off-white: #CCC;
	--white : #FFF;
}
html{
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 5px; /* for vertical scrollbar */
}
::-webkit-scrollbar-track {
	background: var(--blackish);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: var(--purple2);
	border-radius: 5px;
}
::-webkit-scrollbar-button {
	width: 20px;
}
body {
	margin: 0;
	padding: 0;
	background-color:var(--blackish);
	font-family: 'Poppins',"Trebuchet MS" , sans-serif ,sans-serif;
	color: var(--bone-white);
	font-size: 16px;
	line-height: 20px;
}
#wrapper {
	max-width: 70em;
	min-width: 35em;
	margin: 0 auto;
	background-color: var(--dark-grey);
	padding-right: 10px;
	padding-left: 10px;
}
header {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: -2rem;
}
.menu	{
	margin-top: 10px;
	margin-bottom: 4px;
}
.post	{
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: var(--blackish);
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.15em;
	line-height: 1.5;
	margin: 10px 0 10px 0;
}
h1	{
	font-family: 'Poppins', sans-serif;
	color: var(--purple1);
	font-size: 3em;
	line-height: 2em;
}
h2	{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	line-height: 35px;
	color: var(--purple1);
}
h3 	{
	font-family: 'Poppins', sans-serif;
	color: var(--purple1-2);
	font-size: 1.5em;
	line-height: 1.7em;
}
ol	{
	list-style-type: decimal;
	line-height: 16px;
}
ul	{
	list-style-type: disc;
	line-height: 16px;
}
li	{
	margin-left: 20px;
	line-height: 20px;
}
dl	{
	line-height: 20px;
}
dt	{
	font-weight: bolder;
}
dd	{
	text-indent: 10px;
}

caption	{
	color: var(--purple1-2);
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

table  {
	border-collapse:collapse;
	border: 1px solid var(--grey);
}
th	{
	background-color: var(--smoky-grey);
	padding: 8px 2px 2px 2px;
	border: 1px solid rgba(214, 214, 214, 0.7);
	color: var(--bone-white);
}
td	{
	border: 1px solid var(--grey);
	padding: 2px;
}
td:empty {
	background-color: var(--blackish);
}
small	{
	font-size: 14px;
	line-height: 15px;
}
img	{
	margin: 2px;
	border: 1px solid var(--off-white);
	height: 550px;
}
a	{
	text-decoration: none;
}
a:link, a:visited, a:active	{
	color: var(--purple1);
}
a:hover {
    color: var(--purple1);
    text-decoration: none;
}
.menu li	{
	 list-style-type: none;
	 font-size: 18px;
	 margin-left: 0;
	 margin-bottom: 25px;
 }
.menu a {
	color: var(--bone-white);
	padding: 5px;
	text-decoration: none;
	border: 2px solid var(--purple1);
	border-radius: 3px;
}

.menu a:hover {
	background-color: var(--purple1);
	color: var(--white);
}
.fltr {
	float: right;
	margin-left: 8px;
}
.fltl {
	float: left;
	margin-right: 8px;
}
.clr {
	clear: both;
}
.banner {grid-area: banner;}
.menu {grid-area: menu;}
nav {grid-area: nav;}
table {grid-area: table;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

.grid-container {
	display: grid;
	grid-template-areas:
	'banner banner banner banner banner banner'
	'menu menu menu menu menu menu'
	'nav nav nav nav nav nav'
	'table table table table table table'
	'main main main main main main'
	'aside aside aside aside aside aside'
	'footer footer footer footer footer footer';
	grid-gap: 10px;
	background-color: var(--dark-grey);
	padding: 10px;
}
.grid-container > div {
	background-color: var(--dark-grey);
	padding: 10px 0;
}



@media only screen and (max-width: 820px) {
	.scrnsht {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 480px) {
	table {
		display: none;
	}
}
.pic{
	float: left;
	width: 50%;
	height: auto;
	max-width: 1828px;
	margin-right: 10px;
}
