/*sections------------------------------------------------------------------- */
body {
	background-color: #1e1e1f;
	font-family: 'Poppins', sans-serif;
	color: #d6d6d6;
	font-size: 16px;
	line-height: 20px;
}
#wrapper {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #2b2b2c;
	padding-right: 10px;
	padding-left: 10px;
}
header {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: -2rem;
}
.menu	{
	margin-top: 10px;
	margin-bottom: 4px;
}
.post	{
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #1e1e1f;
}
h1	{
	font-family: 'Poppins', sans-serif;
	color: #aa5ee8;
	font-size: 36px;
	line-height: 50px;
}
h2	{
	font-size: 24px;
	line-height: 35px;
	color: #aa5ee8;
}
h3 	{
	color: #ab5ee8;
	font-size: 20px;
	line-height: 30px;
}
ol	{
	list-style-type: decimal;
	line-height: 16px;
}
ul	{
	list-style-type: disc;
	line-height: 16px;
}
li	{
	margin-left: 20px;
	line-height: 20px;
}
dl	{
	line-height: 20px;
}
dt	{
	font-weight: bolder;
}
dd	{
	text-indent: 10px;
}
.menu li	{
	list-style-type: none;
	font-size: 18px;
	margin-left: 0px;
	margin-bottom: 25px;
}
caption	{
	color: #ab5ee8;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
    table {
        display: none;
    }
}
table  {
	border-collapse:collapse;
	border: 1px solid #666;
}
th	{
	background-color: #383838;
	padding: 8px 2px 2px 2px;
	border: 1px solid rgba(214, 214, 214, 0.7);
	color: #d6d6d6;
}
td	{
	border: 1px solid #666;
	padding: 2px;
}
td:empty {
	background-color: #1e1e1f;
}
small	{
	font-size: 14px;
	line-height: 15px;
}
img	{
	margin: 2px;
	border: 1px solid #CCC;
	height: 550px;
}
a	{
	text-decoration: none;
}
a:link, a:visited, a:active	{
	color: #aa5ee8;
}
a:hover {
    color: #aa5ee8;
    text-decoration: none;
}
.menu a {
	color: #d6d6d6;
	padding: 5px;
	text-decoration: none;
	border: 2px solid #aa5ee8;
	border-radius: 3px;
}
.menu a:hover {
	background-color: #aa5ee8;
	color: #FFF;
}
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlt {
	float: left;
	margin-right: 8px;
}
.clear { 
	clear: both;
}